// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$color-dark: #242B33;
$color-accent: #D4C17F;
$color-gray: #BEBEBE;
$color-white: #FFFFFF;


